* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Arial", serif;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#settings {
    width: 100vw;
    height: 100vh;
}

#labyrinth {
    display: flex;
    flex-direction: column;
    width: 80vmin;
    height: 80vmin;
}

#labyrinth > div {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#labyrinth > div > div {
    flex: 1;
}

.tile {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.wall {
    background: #42a5f5;
}

.space {
    background: white;
}

.cell-current {
    background: #f44336;
}

.cell-finished {
    background: #66bb6a;
}

#names {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

#names ul {
    list-style: none;
}

#names li {
    color: #9e9e9e;
}

#btn-open-settings {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    padding: 5px 10px;
}

#btn-open-app {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}

#wrapper, #settings {
    position: relative;
}

#settings-wrapper {
    padding: 20px;
}

#settings-wrapper h1 {
    margin-bottom: 30px;
}

#settings-wrapper input {
}

#btn-save {
    margin-top: 30px;
}

#btn-start {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
}

label {
    font-size: 0.9em;
    color: #9e9e9e;
    margin-bottom: 5px;
}

input {
    font-size: 0.9em;
    padding: 5px;
}

.btn {
    padding: 5px 10px;
    background: #42a5f5;
    border: 1px solid #0077c2;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.btn:hover {
    background: #1e88e5;
    border-color: #005cb2;
}